# Theme files copied by rx-theme (not checked in)
config/link/alacritty/theme.toml
config/link/mako/theme
config/link/niri/theme.kdl
config/link/rofi/theme.rasi
config/link/swayosd/theme.css
config/link/waybar/theme.css
