@import "./theme.css";

* {
  color: @fg;
  border: none;
  border-radius: 0;
  font-family: "MonaspiceNe Nerd Font";
  font-size: 13px;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: @bg;
}

tooltip {
  background: @tooltip-bg;
  border: 2px solid @tooltip-border;
  border-radius: 5px;
}

tooltip label {
  color: @tooltip-fg;
  padding: 6px 10px;
}

#custom-logo,
#workspaces button,
#clock,
#custom-updates,
#idle_inhibitor,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#custom-tray-separator,
#custom-notifications,
#tray {
  background: transparent;
  padding: 0 10px;
  margin: 0;
}

#custom-logo {
  font-size: 14px;
  padding-left: 12px;
}

#workspaces button {
  color: @fg;
  opacity: 0.3;
  background: transparent;
  padding: 0 2px;
  margin: 0;
}

#workspaces button.active {
  opacity: 1;
  background: transparent;
  padding: 0 2px;
}

#custom-tray-icon {
  color: @border;
}

#custom-tray-icon:hover {
  color: @fg;
}
